/* 
    Created on : 22 oct. 2016, 22:04:07
    Author     : ubuntu
*/

.items:hover {
    background-color: #E5E9ED;
}
.items {
    min-height: 85px;
}

.vertical-align {
    /*margin-bottom: 4%;*/
    /*margin-top: 4%;*/
}
.search-bloc {
    margin: 10px 0;
    width: 575px;
}
.search-bloc span.input-group-btn button.btn,
.search-input {
    height: 55px;
}
