superjobs_home_homepage:
    path:     /
    defaults: { _controller: SuperjobsHomeBundle:Main:index }

superjobs_home_feedback:
    path:     /feedback
    defaults: { _controller: SuperjobsHomeBundle:Main:feedback }
    
superjobs_home_contact:
    path:     /contact
    defaults: { _controller: SuperjobsHomeBundle:Main:contact }
    
superjobs_home_faq:
    path:     /faq
    defaults: { _controller: SuperjobsHomeBundle:Main:faq }
    
superjobs_home_press:
    path:     /press
    defaults: { _controller: SuperjobsHomeBundle:Main:press }
    
superjobs_home_recruiter_job_details:
    path:     /jobs/{id}
    defaults: { _controller: SuperjobsHomeBundle:Main:details, id: 1 }
    requirements:
        methods:  GET|POST
        id: \d+
        
superjobs_home_recruiter_intro:
    path:     /recruiter/intro
    defaults: { _controller: SuperjobsHomeBundle:Recruiter:intro }
    
superjobs_home_recruiter_intro:
    path:     /recruiter/subscribe
    defaults: { _controller: SuperjobsHomeBundle:Recruiter:subscribe }

superjobs_home_recruiter_add:
    path:     /recruiter/add
    defaults: { _controller: SuperjobsHomeBundle:Recruiter:add }
    requirements:
        methods:  GET|POST

superjobs_home_intro_template:
    path:     /applicant/intro
    defaults: { _controller: SuperjobsHomeBundle:Applicant:intro }
    
superjobs_home_resume_template:
    path:     /applicant/profile
    defaults: { _controller: SuperjobsHomeBundle:Applicant:profile }

superjobs_home_team_template:
    path:     /applicant/team
    defaults: { _controller: SuperjobsHomeBundle:Applicant:team }
    