services:
#    superjobs_home.example:
#        class: Superjobs\HomeBundle\Example
#        arguments: [@service_id, "plain_value", %parameter%]

    superjobs_home.image_type_extension:
        class: Superjobs\HomeBundle\Form\Extension\ImageTypeExtension
        tags:
            - { name: form.type_extension, alias: file }

#    superjobs_home.cms.twig.cms_extension:
#        class: Superjobs\HomeBundle\Service\Twig\TwigExtension.php
#        tags:
#            - { name: twig.extension }
#        arguments: ["@service_container"] 
    superjobs_search_engine:
        class: Superjobs\HomeBundle\Service\SearchEngine\SearchEngine
        arguments: [@doctrine.orm.entity_manager]