{% extends "SuperjobsHomeBundle::layout.html.twig" %} 
{% block container %}

    <h1>Jobs edit</h1>

    {{ form(edit_form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('jobs') }}">
                Back to the list
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
