{% extends "SuperjobsHomeBundle::layout.html.twig" %}

{% block container %}
    <div>
    <h2>
        {{ job.title }}
    </h2>
    </div>
    <div>
    <h3>Compétences : </h3>
        {{ job.skills }}
    </div>
    
        <h2>Logo </h2>[{{ job.logo }}]
    <h3>Description : </h3>
    {{ job.description|raw }}
    
<br/>
        <br/><br/>
        <input type="button" value="Postulez"> Ou remplir CV et LM:<br/>
{% endblock %}