<br/><br/>
<center><strong>Votre candidature à été envoyer, merci.</strong>
    <p>
        Vous serez rediriger vers la page d'accueil ... 
    </p>
</center>
<script>
    setTimeout(function () {
        window.location.href = 'http://irmajobs.com/'; // the redirect goes here

    }, 5000); // 5 seconds
</script>